<div class="dt-item-row" data-index="{{index}}">
    {{#if color}}<span class="dt-item-color" style="background:{{color}}"></span>{{/if}}
    <span class="dt-item-type"><a class="dt-item-zoom" tabindex="0">{{type}}</a></span>
    <span class="dt-item-detail">{{detail}}</span>
</div>
